{% extends '::base_admin.html.twig' %}

{% block content %}
<div class="container">
<div class="page-title"><h1>Mapped Vendors</h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
<table class="vendor-enquiries">
<thead><tr><td>Contact Name</td><td>Business/Company Name</td><td>Email</td><td>Lead Status</td></tr></thead>
	{% for mapped in mapping %}
	<tr>
		<td>{{ mapped.contactname }}</td>
		<td>{{ mapped.bizname }}</td>
		<td>{{ mapped.email }}</td>
		<td>{% if mapped.leadstatus == 0 %} Waiting For Response {% elseif mapped.leadstatus == 1 %} Accepted  {% endif %}</td>
	</tr>
	{% endfor %}
</table>
</div>
</div>
{% endblock %}
