{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>Enquiries</h1></div>
<div>
<table class="vendor-enquiries">
<thead><tr><td>Subject</td><td>Description</td><td>City</td><td>Category</td><td>Created Date</td><td>Action</td></tr></thead>

	{% for enquiry in enquiries %}
	<tr>
    
<td>{{ enquiry.subj }} </td>
<td>{{ enquiry.description|slice(0, 20) }} </td>
<td>{{ enquiry.city }} </td>
<td>{{ enquiry.category }} </td>		
<td>{{ enquiry.created|date('Y-m-d h:i:s') }} </td>

<td>{% if enquiry.leadstatus == 1 %} Accepted {% else %} <a href="{{ path('b_bids_b_bids_accept_enquiry',{'categoryid': enquiry.category, 'enquiryid': enquiry.id}) }}">Accept Lead</a> {% endif %}</td>
	</tr>
	{% endfor %}
	</table>
</div>
</div>
{% endblock %}
